@import "tailwindcss";

@font-face {
  font-family: "MinhaFonte"; /* Dê um nome à sua família de fontes */
  src: url("/fonts/Questrial-Regular.ttf") format(".ttf"); /* O caminho é absoluto a partir da pasta 'public' */
  font-weight: 400; /* 400 para regular */
  font-style: normal;
  font-display: swap; /* Melhora a performance de carregamento */
}

@font-face {
  font-family: "MinhaFonte";
  src: url("/fonts/Quicksand-VariableFont.ttf") format(".ttf");
  font-weight: 700; /* 700 para bold */
  font-style: normal;
  font-display: swap;
}
